* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
}

.bottom-section {
    display: flex;
}

.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    width: 75px;
    height: calc(100vh - 60px);
}

.main-content {
    width: calc(100vw - 75px);
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.logo img:nth-child(1) {
    width: 50px;
}

.logo img:nth-child(2) {
    width: 100%;
}

.content {
    height: 80px;
    background-color: #8a2be2;
    border: 1px solid white;
}

.content-main {
    height: 600px;
    background-color: #8a2be2;
    border: 1px solid white;
}

td {
    font-size: 15px;
}

td img {
    width: 30px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

.bg-color-1 {
    background-color: #165bba;
}

.bg-color-2 {
    background-color: #e5e5e5;
}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 150px;
    }
    .main-content {
        width: calc(100vw - 150px);
    }
    .offcanvas.offcanvas-end {
        width: 50%;
    }
}